version: '3.9'
services:
  postgres:
    image: postgres:16-alpine
    container_name: grupanya-postgres
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: grupanya_task
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: grupanya-redis
    ports:
      - '6379:6379'

volumes:
  pgdata:
